@page "/"
@using OnMuhasebe.Raporlar

@inject AppService AppService
@inject ICurrentUser CurrentUser
@inject FirmaParametreAppService FirmaParametreAppService
@inject FinansalDurumAppService FinansalDurumAppService

@inject IStringLocalizer<OnMuhasebeResource> L

<AuthorizeView>
  <Authorized>
    @if (_isShowFirmaParametre)
    {
      <SubeDonemSecimEditPage />
    }
    else
    {
      AppService.HasChanged();
    }

    <h4 class="pt-4 pb-4" style="text-align:center;font-weight:bold;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">@L["FinancialStatusSummary"]</h4>

    <DevGridLayout ColumnCount="5"
                   ColumnWidths="@ColumnWidths("*","10px","*","10px","*")"
                   RowCount="3"
                   RowHeights="@RowHeights("*","10px","*")">

      <GridLayoutItems>
        <DxGridLayoutItem Column="0"
                          Row="0">
          <Template>
            <div class="card">
              <DxPieChart Data="KasaDurum">
                <DxChartTitle Text="@L["CashStatusChart"]" />
                <DxChartLegend HorizontalAlignment="HorizontalAlignment.Right"
                               Orientation="DevExpress.Blazor.Orientation.Vertical"
                               Position="RelativePosition.Outside"
                               VerticalAlignment="VerticalEdge.Top" />

                <DxPieChartSeries ArgumentField="@((FinansalDurumDto x)=> x.Aciklama)"
                                  ValueField="@((FinansalDurumDto x)=> x.Tutar)">
                  <DxChartSeriesLabel ValueFormat="ChartElementFormat.Decimal(2)"
                                      Visible="true" />

                </DxPieChartSeries>

              </DxPieChart>
            </div>
          </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Column="2"
                          Row="0">
          <Template>
            <div class="card">
              <DxPieChart Data="BankaDurum">
                <DxChartTitle Text="@L["BankStatusChart"]" />
                <DxChartLegend HorizontalAlignment="HorizontalAlignment.Right"
                               Orientation="DevExpress.Blazor.Orientation.Vertical"
                               Position="RelativePosition.Outside"
                               VerticalAlignment="VerticalEdge.Top" />
                <DxPieChartSeries ArgumentField="@((FinansalDurumDto x)=> x.Aciklama)"
                                  ValueField="@((FinansalDurumDto x)=> x.Tutar)">
                  <DxChartSeriesLabel ValueFormat="ChartElementFormat.Decimal(2)"
                                      Visible="true" />

                </DxPieChartSeries>
              </DxPieChart>
            </div>
          </Template>
        </DxGridLayoutItem>

       @*  <DxGridLayoutItem Column="4"
                          Row="0">
          <Template>
            <div class="card">
              <DxPieChart Data="OdemeBelgeleriDagilim">
                <DxChartTitle Text="@L["PaymentTypesDistributionChart"]" />
                <DxChartLegend HorizontalAlignment="HorizontalAlignment.Right"
                               Orientation="DevExpress.Blazor.Orientation.Vertical"
                               Position="RelativePosition.Outside"
                               VerticalAlignment="VerticalEdge.Top" />
                <DxPieChartSeries ArgumentField="@((FinansalDurumDto x)=> x.Aciklama)"
                                  ValueField="@((FinansalDurumDto x)=> x.Tutar)">
                  <DxChartSeriesLabel ValueFormat="ChartElementFormat.Decimal(2)"
                                      Visible="true" />

                </DxPieChartSeries>
              </DxPieChart>
            </div>
          </Template>
        </DxGridLayoutItem> *@

        <DxGridLayoutItem Column="0"
                          Row="2">
          <Template>
            <div class="card">
              <DevPageHeader Caption="@L["LastTenTransactionsTradedInTheCashier"]"
                             CssClass="bg-danger text-white"
                             TextAlign="Center" />
              <DxDataGrid @ref="KasaGrid"
                          AllowSort="false"
                          AllowColumnDragDrop="false"
                          Data="KasaSonOnHareket"
                          DataNavigationMode="DataGridNavigationMode.ShowAllDataRows"
                          HorizontalScrollBarMode="ScrollBarMode.Visible"
                          VerticalScrollableHeight="295">
                <Column>
                  <DxDataGridDateEditColumn Caption="@L["Date"]"
                                            DisplayFormat="@L["DateFormat"]"
                                            Field="@nameof(FinansalHareketDto.Tarih)"
                                            TextAlignment="DataGridTextAlign.Center"
                                            Width="80px" />

                  <DxDataGridColumn Caption="@L["ReceiptNo"]"
                                    Field="@nameof(FinansalHareketDto.MakbuzNo)"
                                    Width="120px" />

                  <DxDataGridSpinEditColumn Caption="@L["Entered"]"
                                            DisplayFormat="n2"
                                            Field="@nameof(FinansalHareketDto.Borc)"
                                            Width="100px" />

                  <DxDataGridSpinEditColumn Caption="@L["Out"]"
                                            DisplayFormat="n2"
                                            Field="@nameof(FinansalHareketDto.Alacak)"
                                            Width="100px" />

                  <DxDataGridColumn Caption="@L["Description"]"
                                    Field="@nameof(FinansalHareketDto.Aciklama)"
                                    Width="300px" />

                </Column>

              </DxDataGrid>
            </div>
          </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Column="2"
                          Row="2">
          <Template>
            <div class="card">

              <DevPageHeader Caption="@L["LastTenTransactionsTradedInTheBank"]"
                             CssClass="bg-danger text-white"
                             TextAlign="Center" />
              <DxDataGrid @ref="BankaGrid"
                          AllowSort="false"
                          AllowColumnDragDrop="false"
                          Data="BankaSonOnHareket"
                          DataNavigationMode="DataGridNavigationMode.ShowAllDataRows"
                          HorizontalScrollBarMode="ScrollBarMode.Visible"
                          VerticalScrollableHeight="295">
                <Column>
                  <DxDataGridDateEditColumn Caption="@L["Date"]"
                                            DisplayFormat="@L["DateFormat"]"
                                            Field="@nameof(FinansalHareketDto.Tarih)"
                                            TextAlignment="DataGridTextAlign.Center"
                                            Width="80px" />

                  <DxDataGridColumn Caption="@L["ReceiptNo"]"
                                    Field="@nameof(FinansalHareketDto.MakbuzNo)"
                                    Width="120px" />

                  <DxDataGridSpinEditColumn Caption="@L["Entered"]"
                                            DisplayFormat="n2"
                                            Field="@nameof(FinansalHareketDto.Borc)"
                                            Width="100px" />

                  <DxDataGridSpinEditColumn Caption="@L["Out"]"
                                            DisplayFormat="n2"
                                            Field="@nameof(FinansalHareketDto.Alacak)"
                                            Width="100px" />

                  <DxDataGridColumn Caption="@L["Description"]"
                                    Field="@nameof(FinansalHareketDto.Aciklama)"
                                    Width="300px" />

                </Column>

              </DxDataGrid>
            </div>
          </Template>
        </DxGridLayoutItem>

       @*  <DxGridLayoutItem Column="4"
                          Row="2">
          <Template>
            <div class="card">
              <DevPageHeader Caption="@L["OverdueReceivables"]"
                             CssClass="bg-danger text-white"
                             TextAlign="Center" />
              <DxDataGrid @ref="GecikenAlacaklarGrid"
                          AllowSort="false"
                          AllowColumnDragDrop="false"
                          Data="GecikenAlacaklar"
                          DataNavigationMode="DataGridNavigationMode.ShowAllDataRows"
                          HorizontalScrollBarMode="ScrollBarMode.Visible"
                          VerticalScrollableHeight="295">
                <Column>


                  <DxDataGridColumn Caption="@L["PaymentType"]"
                                    Field="@nameof(OdemeBelgesiDto.OdemeTuruAdi)"
                                    Width="110px" />

                  <DxDataGridDateEditColumn Caption="@L["ExpireDate"]"
                                            DisplayFormat="@L["DateFormat"]"
                                            Field="@nameof(OdemeBelgesiDto.Vade)"
                                            TextAlignment="DataGridTextAlign.Center"
                                            Width="80px" />


                  <DxDataGridSpinEditColumn Caption="@L["Amount"]"
                                            DisplayFormat="n2"
                                            Field="@nameof(OdemeBelgesiDto.Tutar)"
                                            Width="100px" />

                  <DxDataGridColumn Caption="@L["Description"]"
                                    Field="@nameof(FinansalHareketDto.Aciklama)"
                                    Width="300px" />

                </Column>

              </DxDataGrid>

            </div>
          </Template>
        </DxGridLayoutItem> *@


      </GridLayoutItems>

    </DevGridLayout>
  </Authorized>

  <NotAuthorized>

  </NotAuthorized>
</AuthorizeView>

@code {

  private DxDataGrid<FinansalHareketDto> KasaGrid;
  private DxDataGrid<FinansalHareketDto> BankaGrid;
  private DxDataGrid<OdemeBelgesiDto> GecikenAlacaklarGrid;

  private IList<FinansalHareketDto> KasaSonOnHareket;
  private IList<FinansalHareketDto> BankaSonOnHareket;
  private IList<OdemeBelgesiDto> GecikenAlacaklar;

  private IList<FinansalDurumDto> KasaDurum;
  private IList<FinansalDurumDto> BankaDurum;
  private IList<FinansalDurumDto> OdemeBelgeleriDagilim;

  private bool _isShowFirmaParametre;

  protected override async Task OnParametersSetAsync()
  {
    if (CurrentUser.Id == null) return;

    if (((SelectFirmaParametreDto)AppService.FirmaParametre).Id == Guid.Empty)
    {
      var firmaParametre = await FirmaParametreAppService.GetAsync(CurrentUser.Id.Value);

      if (firmaParametre != null)
      {
        AppService.FirmaParametre = firmaParametre;
        await Reports();
      }
      else _isShowFirmaParametre = true;
    }
    else
      await Reports();
  }

  private async Task Reports()
  {
    KasaSonOnHareket = await FinansalDurumAppService.KasaSonOnHareketListAsync(new MakbuzHareketListParameterDto
      {
        SubeId = ((SelectFirmaParametreDto)AppService.FirmaParametre).SubeId,
        DonemId = ((SelectFirmaParametreDto)AppService.FirmaParametre).DonemId
      });

    BankaSonOnHareket = await FinansalDurumAppService.BankaSonOnHareketListAsync(new MakbuzHareketListParameterDto
      {
        SubeId = ((SelectFirmaParametreDto)AppService.FirmaParametre).SubeId,
        DonemId = ((SelectFirmaParametreDto)AppService.FirmaParametre).DonemId
      });

    KasaDurum = await FinansalDurumAppService.KasaDurumListAsync(new MakbuzHareketListParameterDto
      {
        SubeId = ((SelectFirmaParametreDto)AppService.FirmaParametre).SubeId,
        DonemId = ((SelectFirmaParametreDto)AppService.FirmaParametre).DonemId
      });

    BankaDurum = await FinansalDurumAppService.BankaDurumListAsync(new MakbuzHareketListParameterDto
      {
        SubeId = ((SelectFirmaParametreDto)AppService.FirmaParametre).SubeId,
        DonemId = ((SelectFirmaParametreDto)AppService.FirmaParametre).DonemId
      });

    // OdemeBelgeleriDagilim = await FinansalDurumAppService.OdemeBelgeleriDagilimListAsync(new MakbuzHareketListParameterDto
    //   {
    //     SubeId = ((SelectFirmaParametreDto)AppService.FirmaParametre).SubeId,
    //     DonemId = ((SelectFirmaParametreDto)AppService.FirmaParametre).DonemId
    //   });

    // GecikenAlacaklar = await FinansalDurumAppService.GecikenAlacaklarListAsync(new MakbuzHareketListParameterDto
    //   {
    //     SubeId = ((SelectFirmaParametreDto)AppService.FirmaParametre).SubeId,
    //     DonemId = ((SelectFirmaParametreDto)AppService.FirmaParametre).DonemId
    //   });


    KasaGrid.SetDataRowSelected(KasaSonOnHareket.FirstOrDefault(), true);
    BankaGrid.SetDataRowSelected(BankaSonOnHareket.FirstOrDefault(), true);
    // GecikenAlacaklarGrid.SetDataRowSelected(GecikenAlacaklar.FirstOrDefault(), true);
  }

}